@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #183B4E;
    --card: #ffffff;
    --card-foreground: #183B4E;
    --popover: #ffffff;
    --popover-foreground: #183B4E;
    --primary: #27548A;
    --primary-foreground: #ffffff;
    --secondary: #DDA853;
    --secondary-foreground: #183B4E;
    --muted: #FFFFFF;
    --muted-foreground: #27548A;
    --accent: #DDA853;
    --accent-foreground: #183B4E;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #27548A;
    --input: #27548A;
    --ring: #27548A;
    --radius: 0.5rem;
  }

  .dark {
    --background: #183B4E;
    --foreground: #F3F3E0;
    --card: #27548A;
    --card-foreground: #F3F3E0;
    --popover: #27548A;
    --popover-foreground: #F3F3E0;
    --primary: #DDA853;
    --primary-foreground: #183B4E;
    --secondary: #27548A;
    --secondary-foreground: #F3F3E0;
    --muted: #27548A;
    --muted-foreground: #DDA853;
    --accent: #DDA853;
    --accent-foreground: #183B4E;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #DDA853;
    --input: #DDA853;
    --ring: #DDA853;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}